/*--------------------------------
  Navbar
----------------------------------*/

.navbar-bg {
  background-color: $navbarBg;
  padding: 20px;
  border-bottom: 1px solid #e3f372;
}

.navigation {
  padding-top: 8px;
}

#navbarNav,
#navbarNav ul,
#navbarNav ul li,
#navbarNav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navbarNav:after,
#navbarNav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#navbarNav {
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#navbarNav > ul > li {
  float: left;
}

#navbarNav.align-center > ul {
  font-size: 0;
  text-align: center;
}

#navbarNav.align-center > ul > li {
  display: inline-block;
  float: none;
}

#navbarNav.align-center ul ul {
  text-align: left;
}

#navbarNav.align-right > ul > li {
  float: right;
}

#navbarNav > ul > li > a {
  padding: 16px 24px;
  font-size: 13px;
  color: #191e10;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}

#navbarNav > ul > li:hover > a {
  color: #fff;
  background-color: #191e10;
}

#navbarNav ul ul {
  position: absolute;
  left: -9999px;
  margin: -1px;
}

#navbarNav.align-right ul ul {
  text-align: right;
}

#navbarNav ul ul li {
  top: 0px;
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navbarNav li:hover > ul {
  left: auto;
}

#navbarNav.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#navbarNav li:hover > ul > li {
  height: 49px;
}

#navbarNav ul ul ul {
  margin-left: 100%;
  top: 0;
}

#navbarNav.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#navbarNav ul ul li a {
  background-color: #191e10;
  padding: 18px 20px;
  width: 216px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: #2c3320 1px solid;
  margin-left: 1px;
}

#navbarNav ul ul li:first-child > a {
  border-top-right-radius: 0%;
}

#navbarNav ul ul li:last-child > a {
  border-bottom-right-radius: 0%px;
  border-bottom-left-radius: 0%px;
}

#navbarNav ul ul li:last-child > a,
#navbarNav ul ul li.last-item > a {
  border-bottom: none;
}

#navbarNav ul ul li:hover > a,
#navbarNav ul ul li a:hover {
  color: #fff;
  background-color: #303429;
}

#navbarNav ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: "";
}

#navbarNav.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#navbarNav ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navbarNav.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

#navbarNav ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

@media only screen and (max-width: 768px) {
  #navbarNav ul li span.submenu-opened + a + ul {
      display: block;
  }

  #navbarNav.small-screen {
    width: 100%;
  }

  #navbarNav.small-screen ul {
    width: 100%;
    display: none;
  }

  #navbarNav.small-screen.align-center > ul {
    text-align: left;
  }

  #navbarNav.small-screen ul li {
    width: 100%;
    border-top: 1px solid #2c3320;
    top: auto;
    background-color: #191e10;
  }

  #navbarNav.small-screen ul ul li,
  #navbarNav.small-screen li:hover > ul > li {
    height: auto;
  }

  #navbarNav.small-screen ul li a,
  #navbarNav.small-screen ul ul li a {
    width: 100%;
    border-bottom: 0;
    padding: 20px 15px;
    color: #fff;
  }

  #navbarNav.small-screen > ul > li > a:after {
    position: absolute;
    top: 16px;
    right: -3px;
    height: 2px;
    display: block;
    content: "";
  }

  #navbarNav.small-screen > ul > li {
    float: none;
  }

  #navbarNav.small-screen ul ul li a {
    padding-left: 25px;
  }

  #navbarNav.small-screen ul ul ul li a {
    padding-left: 35px;
  }

  #navbarNav.small-screen ul ul li a {
    color: #fff;
    background: #191e10;
    margin: 0px;
  }

  #navbarNav.small-screen ul ul li:hover > a,
  #navbarNav.small-screen ul ul li.active > a {
    color: #fff;
    background-color: #303429;
  }

  #navbarNav.small-screen ul ul,
  #navbarNav.small-screen ul ul ul,
  #navbarNav.small-screen.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  #navbarNav.small-screen > ul > li.has-sub > a:after,
  #navbarNav.small-screen > ul > li.has-sub > a:before,
  #navbarNav.small-screen ul ul > li.has-sub > a:after,
  #navbarNav.small-screen ul ul > li.has-sub > a:before {
    display: none;
  }

  #navbarNav.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #2c3320;
    height: 54px;
    width: 53px;
    cursor: pointer;
  }

  #navbarNav.small-screen ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }

  #navbarNav.small-screen .submenu-button:after {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 8px;
    height: 2px;
    display: block;
    background: #fff;
    content: "";
  }

  #navbarNav.small-screen ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }

  #navbarNav.small-screen .submenu-button:before {
    position: absolute;
    top: 22px;
    right: 23px;
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    content: "";
  }

  #navbarNav.small-screen ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }

  #navbarNav.small-screen .submenu-button.submenu-opened:before {
    display: none;
  }

  #navbarNav.small-screen.select-list {
    padding: 5px;
  }

  #navbarNav.small-screen > ul > li > a {
    border-left: transparent;
    margin: 0;
    border-right: transparent;
  }

  #navbarNav.small-screen > ul > li:hover > a {
    border-left: transparent;
    border-right: transparent;
  }
}

.logo {
  margin-top: 10px;
}

.header-wrapper {
  z-index: 9;
  position: relative;
  background-color: #efff7c;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3f372;
}

/*--------------------------
    5.2 Navigations Regular
   ----------------------------*/

.navigation {
  padding-top: 8px;
}

#navigation {
  float: right;
}

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navigation:after,
#navigation > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#navigation #menu-button {
  display: none;
}

#navigation {
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#navigation > ul > li {
  float: left;
}

#navigation.align-center > ul {
  font-size: 0;
  text-align: center;
}

#navigation.align-center > ul > li {
  display: inline-block;
  float: none;
}

#navigation.align-center ul ul {
  text-align: left;
}

#navigation.align-right > ul > li {
  float: right;
}

#navigation > ul > li > a {
  padding: 16px 24px;
  font-size: 13px;
  color: #191e10;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}

#navigation > ul > li:hover > a {
  color: #fff;
  background-color: #191e10;
}

#navigation > ul > li.has-sub > a {
  padding-right: 32px;
}

#navigation > ul > li.has-sub > a:before {
  position: absolute;
  right: 18px;
  font-family: FontAwesome;
  content: "\f107";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navigation ul ul {
  position: absolute;
  left: -9999px;
  margin: -1px;
}

#navigation.align-right ul ul {
  text-align: right;
}

#navigation ul ul li {
  top: 0px;
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navigation li:hover > ul {
  left: auto;
}

#navigation.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#navigation li:hover > ul > li {
  height: 49px;
}

#navigation ul ul ul {
  margin-left: 100%;
  top: 0;
}

#navigation.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#navigation ul ul li a {
  background-color: #191e10;
  padding: 18px 20px;
  width: 216px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: #2c3320 1px solid;
  margin-left: 1px;
}

#navigation ul ul li:first-child > a {
  border-top-right-radius: 0%;
}

#navigation ul ul li:last-child > a {
  border-bottom-right-radius: 0%px;
  border-bottom-left-radius: 0%px;
}

#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {
  border-bottom: none;
}

#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {
  color: #fff;
  background-color: #303429;
}

#navigation ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: "";
}

#navigation.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#navigation ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navigation.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

#navigation ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#navigation.small-screen {
  width: 100%;
}

#navigation.small-screen ul {
  width: 100%;
  display: none;
}

#navigation.small-screen.align-center > ul {
  text-align: left;
}

#navigation.small-screen ul li {
  width: 100%;
  border-top: 1px solid #2c3320;
  top: auto;
  background-color: #191e10;
}

#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {
  height: auto;
}

#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
  padding: 20px 15px;
  color: #fff;
}

#navigation.small-screen > ul > li > a:after {
  position: absolute;
  top: 16px;
  right: -3px;
  height: 2px;
  display: block;
  content: "";
}

#navigation.small-screen > ul > li {
  float: none;
}

#navigation.small-screen ul ul li a {
  padding-left: 25px;
}

#navigation.small-screen ul ul ul li a {
  padding-left: 35px;
}

#navigation.small-screen ul ul li a {
  color: #fff;
  background: #191e10;
  margin: 0px;
}

#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {
  color: #fff;
  background-color: #303429;
}

#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}

#navigation.small-screen > ul > li.has-sub > a:after,
#navigation.small-screen > ul > li.has-sub > a:before,
#navigation.small-screen ul ul > li.has-sub > a:after,
#navigation.small-screen ul ul > li.has-sub > a:before {
  display: none;
}

#navigation.small-screen #menu-button {
  display: block;
  padding: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #191e10;
  margin-top: 10px;
}

#navigation.small-screen #menu-button:after {
  position: absolute;
  top: 16px;
  right: 17px;
  display: block;
  height: 12px;
  width: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: "";
}

#navigation.small-screen #menu-button:before {
  position: absolute;
  top: 21px;
  right: 17px;
  display: block;
  height: 2px;
  width: 20px;
  background: #fff;
  content: "";
}

#navigation.small-screen #menu-button.menu-opened:after {
  top: 20px;
  border: 0;
  height: 2px;
  width: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navigation.small-screen #menu-button.menu-opened:before {
  top: 20px;
  background: #fff;
  width: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navigation.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid #2c3320;
  height: 54px;
  width: 53px;
  cursor: pointer;
}

#navigation.small-screen ul ul .submenu-button {
  height: 34px;
  width: 34px;
}

#navigation.small-screen .submenu-button:after {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 8px;
  height: 2px;
  display: block;
  background: #fff;
  content: "";
}

#navigation.small-screen ul ul .submenu-button:after {
  top: 15px;
  right: 13px;
}

#navigation.small-screen .submenu-button:before {
  position: absolute;
  top: 22px;
  right: 23px;
  display: block;
  width: 2px;
  height: 8px;
  background: #fff;
  content: "";
}

#navigation.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
}

#navigation.small-screen .submenu-button.submenu-opened:before {
  display: none;
}

#navigation.small-screen.select-list {
  padding: 5px;
}

#navigation.small-screen > ul > li > a {
  border-left: transparent;
  margin: 0;
  border-right: transparent;
}

#navigation.small-screen > ul > li:hover > a {
  border-left: transparent;
  border-right: transparent;
}
